.task-history {
  background-color: #f3f3f5;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid #333; /* Added border */
}

.task-history-title {
  margin: 5rem 10% 10px auto;
}

.show-task {
  width: 50%;
  justify-content: center;
  padding: 16px;
  margin: 10px 8px 10px auto;
}

.buttons {
  display: flex;
  gap: 2rem;
}
