.formBox {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: left;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.rememberMe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.forgotLink {
  color: #007bff;
  text-decoration: none;
}

.forgotLink:hover {
  text-decoration: underline;
}

.submitButton {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.submitButton:hover {
  background-color: #45a049;
}

.socialButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.socialButton {
  width: 48%;
  padding: 10px;
  border: none;
  background-color: #ddd;
  color: #555;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialButton:hover {
  background-color: #ccc;
}
